header {
    display: flex; justify-content: space-between; padding: 5px 2px 0;
}
h1 {
    display: flex; align-content: center; font-family: 'New Rocker', 'Mystery Quest', cursive, Trykker, serif;
}
h1 img {
    height: 48px; width: auto; object-fit: scale-down;
}
@media screen and (max-width: 320px) {
    header {
       justify-content: center; flex-direction: column;
    }
}