main {
    display: flex; flex-wrap: wrap; /*justify-content: space-between;*/ gap: 1.88em;
}
main img {
    width: 32%; /*padding: 2.5% 0;*/ height: auto; object-fit: scale-down;
}
@media screen and (max-width: 320px) {
    main img {
        width: 100%;
    }
}