/*ul {
    list-style: none;
}
li {
    display: inline-block;
}
nav {
    display: flex; align-items: center;
}*/ //Bootstrap does this for me.
.nav-link:hover:not(.active, .disabled) {
    border-color: $color5 $color5 $color6 !important; color: $text-color3 !important;
}
.nav-link.active {
    border-color: $color6 $color6 $inner-color !important;
    background-color: $inner-color !important;
}
.nav-tabs {
    border-bottom-color: $color6 !important;
}
.nav-link:not(.active, .disabled) {
    color: $text-color !important;
}