/*ul {
    list-style: none;
}
li {
    display: inline-block;
}
nav {
    display: flex; align-items: center;
}*/ //Bootstrap does this for me.
.nav-link.active {
    border-color: $middle-color $middle-color #fff !important;
}
.nav-tabs {
    border-block-color: $middle-color !important;
}