$outer-color: #9E8968;
$inner-color: #FFF1DB;
$middle-color: #EBD5B3;
$color4: #B8A68C;
$color5: #6B5431;
$color6: #6B6151;
$text-color: #2F5C64;
$bg-color-select: #E2D2B9;
$text-color3: #284F56;
$color-list: $outer-color, $inner-color, $outer-color;